.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart {
  margin: 0 auto;
  font-size: 8px;
}

.line {
  fill: none;
  stroke: #41B6C4;
  stroke-width: 2;
}

.mycluster {
    width: 17px;
    height: 17px;
    line-height: 30px;
    background-color: lightcyan;
    border: 1px solid lightcyan;
    border-radius: 50%;
    box-shadow: 1px 1px 1px grey;
    color: black;
    min-width: 9px;
    text-align: center;
    margin: auto;
    font: 10px Helvetica, Verdana, Tahoma;
}

.myDefaultIcon {
    background: grey;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.iconA {
    background: #F0F9E8;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
}
.iconB {
    background: #CCEBC5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
}
.iconC {
    background: #A8DDB5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
}
.iconD {
    background: #7BCCC4;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
}
.iconE {
    background: #43A2CA;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
}
.iconF {
    background: #0868AC;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

rect#tooltip {
    stroke: #41B6C4;
    stroke-width: 2;
    fill: white;
}

circle {
  stroke: #41B6C4;
  fill: #41B6C4;
}

circle#ring {
    stroke: #41B6C4;
    fill: none;
    stroke-width: 1;
}

line#drop {
    fill: none;
    stroke: #41B6C4;
    stroke-width: 2;
    stroke-dasharray: 3, 3;
}

div#tooltip {
      position: absolute;
      width: auto;
      height: auto;
      padding: 10px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #333;
      background: rgb(255, 255, 255);
      border: 4px solid rgb(255, 255, 255);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}

